<h1>Thomas Allen Wheatley</h1>

<p>WElcome to my interactive resume!</p>

<div id="contact">

	<h3>Address</h3>
		<h4>222 Bethany Manor Ct </br>
		Ball Ground Ga 30107</h4>

	<h3> Phone Number</h3>
		<h4>678-230-3069</h4>

	<h3>Email Address</h3>
		<h4>awheat1989@gmail.com</h4>

	<h3>Linked In</h3>
	<h3>GitHub</h3>
	<h2>Skills</h2>
	<ol>
		<li>Typist</li>
		<li>Microsoft Applications</li>
		<li>Communication</li>
		<li>Ability to Work Under Pressure</li>
		<li>Leadership</li>
		<li>Time Management</li>
		<li>Organized</li>
		<li>Teamwork</li>
		<li>Web Development</li>
	</ol>
</div>

<body>

<h2>Experience</h2>

	<h3>AMC Entertainment Inc.</h3>
		<h4>December 20 2017 - Current</h4>
	<h3>Carmike Cinemas Inc.</h3>
		<h4>February 6 2006 - December 20 2017</h4>

<h2>Education</h2>

	<h3>Associate's Degree of Business</h3>
		<h4>Georgia HIghlands College 20011</h4>




</body>