<h1 id="name">Thomas Allen Wheatley</h1>

<div id="contact">

  <h2 id="header">Contact</h2>
	<h3>Address</h3>
		<h4>222 Bethany Manor Ct </br>
		Ball Ground Ga 30107</h4>

	<h3> Phone Number</h3>
		<h4>678-230-3069</h4>

	<h3>Email Address</h3>
		<h4>awheat1989@gmail.com</h4>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

<script type="IN/MemberProfile" 
data-id="https://www.linkedin.com/in/thomas-wheatley-29b368b4" 
data-format="hover" data-related="false" 
data-text="Thomas Wheatley"></script>

	<a class="github-button" 
	href="https://github.com/crackerjack540" aria-label="
	Follow @crackerjack540 on GitHub">
	Follow @crackerjack540</a>
	
	<h2 id="header">Skills</h2>
	<ul>
		<li>Typist</li>
		<li>Microsoft Applications</li>
		<li>Communication</li>
		<li>Ability to Work Under Pressure</li>
		<li>Leadership</li>
		<li>Time Management</li>
		<li>Organized</li>
		<li>Teamwork</li>
		<li>Web Development</li>
	</ul>
</div>

<body>

<div id="experience">
<h2 id="header">Experience</h2>

	<h3 id="title">Web Developer</h3>
		<h4>Hello Again Family Bar and Grill</h4>

		<ul>
			<li>HTML, CSS, Javascript, Ruby/Rails, Sqlite</li>
		</ul>

		<h4>June 2016 - June 2017 - Restaraunt sold to Sidelines</h4>

	<h3 id="title">Crew Leader</h3>
		<h4> AMC Entertainment Inc.</h4>
		<h4>December 20 2017 - Current</h4>

		<ul>
			<li>Customer Service</li>
			<li>Time Management</li>
			<li>Critical Thinking</li>
			<li>Social Perceptiveness</li>			
			<li>Working in a fast paced environment</li>
		</ul>
	
	<h3 id="title">Staff Leader/Manager</h3>
		<h4>Carmike Cinemas Inc.</h4>
		<ul>
			<li>Customer Service</li>
			<li>Time Management</li>
			<li>Social Perceptiveness</li>
			<li>Cash Management</li>
			<li>Office Management</li>
		</ul>
		<h4>February 6 2006 - December 20 2017 - Company Purchased by AMC Entertainemnt Inc.</h4>

</div>

<div id="education">
<h2 id="header">Education</h2>

	<h3 id="title">Associate's Degree of Business</h3>
		<h4>Georgia HIghlands College 20011</h4>

</div>

<script async defer src="https://buttons.github.io/buttons.js">
</script>

</body>