@import "bootstrap";

#name {
	background: Black;
	color: orange;
}

#contact {
	float: left;
	width: 25%;
	padding-right: 5px;
	text-align: left;
	background: black;
	color: white;
	padding-left: 10px;
}

#experience {
	float: right;
	width: 70%;
}

#education {
	float: right;
	width: 70%;
}

#header {
	text-decoration: underline;
	background: black;
	color: white;
	padding-bottom: 2px;

}

#title {
	background: LightGray;
}